/* Sidebar.css */
#app-wrapper {
  transition: margin-left 0.3s;
}

#page-content-wrapper {
  min-width: 85%; /* Conteúdo ocupa 90% da tela */
  padding: 15px;
}

#sidebar-wrapper {
  min-height: 100vh;
  width: 15%; /* Sidebar ocupa 10% da tela */
  transition: width 0.3s ease-in-out;
}

#sidebar-wrapper .sidebar-container {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.bg-color-sidebar {
  background-color: rgb(27, 153, 153) !important;
}

#sidebar-wrapper .sidebar-heading {
  padding: 0.875rem 4.25rem;
  font-size: 1.2rem;
  background-color: rgb(179, 240, 220);
}

#sidebar-wrapper .bi {
  margin-right: 0.5rem;
}

#sidebar-wrapper .list-group {
  margin-top: 20px;
}

#sidebar-wrapper .list-group-item {
  border: none;
  transition: background-color 0.3s ease !important;
}

#bglist{
  background-color: rgb(27, 153, 153) !important;
}

#sidebar-wrapper .list-group-item:hover {
  background-color: rgba(47, 204, 154, 0.648) !important; /* Aqui você pode ajustar o nível de transparência desejado */
}

